dist/view/cart.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,shrink-to-fit=no">
    <meta name="author" content="fengzhuan">
    <meta name="keyword" content="fengzhuan">
    <meta name="description" content="fengzhuan">
    <title>fengzhuan</title>
  <link href="../css/vendor.css?111b033531659c7d15cc" rel="stylesheet"><link href="../css/main.css?111b033531659c7d15cc" rel="stylesheet"></head>
  <body class="body">
    <main class="main" id="pagemain">
      <header class="header"><a class="header_logo" href="index.html"><img src="../assets/logo-white.png" alt="">
          <div class="header_logo__head">
            <div class="header_logo__title">豐饌</div>
            <div class="header_logo__sub">FENGZHUAN</div>
          </div></a>
        <div class="header_nav">
          <div class="header_nav__list"><a class="header_nav__item" href="login.html"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M31 9.37236V22.626C31 27.5366 27.9285 31 23.0206 31H8.96316C4.05526 31 1 27.5366 1 22.626V9.37236C1 4.46179 4.07151 1 8.96316 1H23.0206C27.9285 1 31 4.46179 31 9.37236Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M16.1076 19.0567C12.3154 19.0567 9.07693 19.63 9.07693 21.9263C9.07693 24.2225 12.2949 24.8164 16.1076 24.8164C19.8998 24.8164 23.1374 24.2421 23.1374 21.9468C23.1374 19.6515 19.9204 19.0567 16.1076 19.0567Z" stroke="white" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M16.1076 15.7815C18.5963 15.7815 20.6133 13.7635 20.6133 11.2749C20.6133 8.78627 18.5963 6.76923 16.1076 6.76923C13.619 6.76923 11.601 8.78627 11.601 11.2749C11.5926 13.7551 13.5966 15.7731 16.0759 15.7815H16.1076Z" stroke="white" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
</svg></a><a class="header_nav__item active" href="cart.html"><svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.5 18.25H28.5" stroke="white" stroke-width="2"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.8749 28.375C10.8749 25.7869 10.1535 15.5966 9.75218 10.4331L11.2477 10.3169C11.6464 15.4475 12.3749 25.7131 12.3749 28.375H10.8749Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.2557 28.282L19.5057 10.282L20.9941 10.468L18.7441 28.468L17.2557 28.282Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M24.7227 11.5H5.27716C3.43122 11.5 2.0232 13.1512 2.31484 14.974L3.87484 24.724C4.1077 26.1793 5.36327 27.25 6.83716 27.25H23.1627C24.6366 27.25 25.8921 26.1793 26.125 24.724L27.685 14.974C27.9767 13.1512 26.5686 11.5 24.7227 11.5ZM5.27716 10C2.50826 10 0.396215 12.4768 0.833676 15.211L2.39368 24.961C2.74297 27.144 4.62633 28.75 6.83716 28.75H23.1627C25.3735 28.75 27.2569 27.144 27.6062 24.961L29.1662 15.211C29.6036 12.4768 27.4916 10 24.7227 10H5.27716Z" fill="white"/>
<path d="M7.5 10.375C7.875 7.25 9.9 1 15 1C20.1 1 22.375 7.25 22.875 10.375" stroke="white" stroke-width="2"/>
</svg></a>
            <div class="header_btn">
              <li></li>
              <li></li>
            </div>
          </div>
        </div>
        <div class="header_sidebar"> 
          <div class="header_sidebar__bgc"></div>
          <div class="header_sidebar__body"></div>
        </div>
        <div class="header_toggle">
          <div class="header_toggle__list">
            <div class="header_toggle__item"><a class="header_toggle__title" href="index.html"> 
                <p>首頁</p>
                <p>ＴＯＰ</p></a></div>
            <!-- HEADER 新增部分-->
            <div class="header_toggle__item"><a class="header_toggle__title" data-bs-toggle="collapse" href="#collapseHeaderProduct" role="button" aria-expanded="false" aria-controls="collapseHeaderProduct"> 
                <p>豐饌商城</p>
                <p>ＰＲＯＤＵＣＴ</p></a>
              <div class="collapse" id="collapseHeaderProduct">
                <ul class="header_toggle__collapse card card-body">
                  <li class="header_toggle__collapse_item"><a href="products.html">xxxxxxx</a></li>
                  <li class="header_toggle__collapse_item"><a href="products.html">xxxxxxx</a></li>
                  <li class="header_toggle__collapse_item"><a href="products.html">xxxxxxx</a></li>
                  <li class="header_toggle__collapse_item"><a href="products.html">xxxxxxx</a></li>
                </ul>
              </div>
            </div>
            <!-- HEADER 新增部分-->
            <div class="header_toggle__item"><a class="header_toggle__title" href="news.html"> 
                <p>最新消息</p>
                <p>ＮＥＷＳ</p></a></div>
            <div class="header_toggle__item"><a class="header_toggle__title" href="account.html"> 
                <p>個人帳戶</p>
                <p>ＡＣＣＯＵＮＴ</p></a></div>
            <div class="header_toggle__item"><a class="header_toggle__title" href="contact.html"> 
                <p>聯絡我們</p>
                <p>ＣＯＮＴＡＣＴ</p></a></div>
          </div>
          <div class="social_logo header_toggle-social_logo"><a class="social_logo__btn btn" href="#"><svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.1123 4.90157C11.3955 4.7582 10.4273 4.6511 9.81842 4.6511C8.16971 4.6511 8.06261 5.36793 8.06261 6.51486V8.55658H12.184L11.8247 12.7859H8.06261V25.6501H2.90227V12.7859H0.25V8.55658H2.90227V5.94055C2.90227 2.35723 4.58641 0.350098 8.81487 0.350098C10.284 0.350098 11.3592 0.565149 12.7566 0.851882L12.1123 4.90157Z" fill="white"/>
</svg></a><a class="social_logo__btn btn" href="#"><svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1.5" y="1.5" width="22" height="17" rx="1.5" stroke="white" stroke-width="3"/>
<path d="M13 10.5L2.5 2.5" stroke="white" stroke-width="3" stroke-linecap="round"/>
<path d="M13 10.5L22.5 2.5" stroke="white" stroke-width="3" stroke-linecap="round"/>
</svg></a><a class="social_logo__btn btn" href="#"><svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M26.215 10.6407C26.215 4.77566 20.335 0.00366211 13.108 0.00366211C5.881 0.00366211 0 4.77566 0 10.6407C0 15.8987 4.663 20.3027 10.962 21.1357C11.389 21.2277 11.97 21.4177 12.117 21.7817C12.249 22.1127 12.203 22.6317 12.159 22.9667C12.159 22.9667 12.006 23.8917 11.972 24.0887C11.915 24.4197 11.709 25.3847 13.107 24.7957C14.506 24.2067 20.655 20.3507 23.405 17.1847H23.404C25.305 15.1027 26.215 12.9877 26.215 10.6407ZM7.977 14.1307H5.373C4.994 14.1307 4.686 13.8227 4.686 13.4427V8.23366C4.686 7.85466 4.994 7.54666 5.373 7.54666C5.752 7.54666 6.06 7.85466 6.06 8.23366V12.7547H7.977C8.356 12.7547 8.664 13.0627 8.664 13.4417C8.664 13.8217 8.356 14.1307 7.977 14.1307ZM10.67 13.4427C10.67 13.8217 10.362 14.1307 9.983 14.1307C9.604 14.1307 9.296 13.8227 9.296 13.4427V8.23366C9.296 7.85466 9.604 7.54666 9.983 7.54666C10.362 7.54666 10.67 7.85466 10.67 8.23366V13.4427ZM16.94 13.4427C16.94 13.7397 16.752 14.0017 16.47 14.0947C16.399 14.1187 16.325 14.1307 16.252 14.1307C16.037 14.1307 15.832 14.0277 15.703 13.8557L13.034 10.2207V13.4427C13.034 13.8217 12.726 14.1307 12.346 14.1307C11.967 14.1307 11.658 13.8227 11.658 13.4427V8.23366C11.658 7.93766 11.847 7.67566 12.128 7.58166C12.199 7.55766 12.272 7.54666 12.346 7.54666C12.56 7.54666 12.766 7.64966 12.895 7.82166L15.565 11.4567V8.23366C15.565 7.85466 15.874 7.54666 16.253 7.54666C16.632 7.54666 16.94 7.85466 16.94 8.23366V13.4427ZM21.154 10.1507C21.533 10.1507 21.842 10.4587 21.842 10.8387C21.842 11.2177 21.534 11.5257 21.154 11.5257H19.237V12.7557H21.154C21.533 12.7557 21.842 13.0637 21.842 13.4427C21.842 13.8217 21.533 14.1307 21.154 14.1307H18.55C18.172 14.1307 17.863 13.8227 17.863 13.4427V10.8397C17.863 10.8387 17.863 10.8387 17.863 10.8387V10.8377V8.23666C17.863 8.23566 17.863 8.23566 17.863 8.23466C17.863 7.85566 18.171 7.54766 18.55 7.54766H21.154C21.533 7.54766 21.842 7.85566 21.842 8.23466C21.842 8.61366 21.534 8.92166 21.154 8.92166H19.237V10.1517H21.154V10.1507Z" fill="white"/>
</svg></a></div>
        </div>
      </header>
      <div class="cart">
        <div class="cart_container">
          <div class="cart_head">
            <div class="sec_head full cart_head-sec_head">
              <div class="sec_title cart_head-sec_title">購物車</div>
              <div class="sec_subtitle cart_head-sec_subtitle">SHOPPING CART</div>
            </div>
          </div>
          <div class="cart_content">
            <div class="cart_content__step">
              <li class="active">商品規格</li>
              <li> 付款&配送</li>
            </div>
            <div class="cart_content__step-mb">
              <ul class="block_step cart_head-block_step">
                <li class="active">商品規格</li><span class="dot active">····</span>
                <li>付款&amp;配送</li><span class="dot">····</span>
                <li>訂單確認</li><span class="dot">····</span>
              </ul>
            </div>
            <div class="cart_content__list">
              <div class="cart_content__item">
                <div class="cart-table cart_content-table">
                  <div class="cart-table_th cart_content-table_th">
                    <li>產品圖</li>
                    <li>產品名</li>
                    <li>產品規格</li>
                    <li>單價</li>
                    <li>數量</li>
                    <li>小記</li>
                    <li style="display:flex;">刪除</li>
                  </div>
                  <div class="cart-table_tr cart_content-table_tr">
                    <div class="cart-table_td cart_content-table_td">
                      <li>
                        <div class="cart-table_image cart_content-table_image">
                          <div style="background-image: url(../assets/20200723130357529295.jpg)"></div>
                        </div>
                      </li>
                      <li>豐饌皇家御禮</li>
                      <li><span class="mb-text">產品規格：</span><span>11</span></li>
                      <li> <span>$&nbsp;&nbsp;</span><span class="origin_price">134</span></li>
                      <li>
                        <div class="spinButton cart_content_spinButton card-table-spinButton">
                          <button class="less btn" type="button" value="-1"><svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1" y1="1.00146" x2="11" y2="1.00146" stroke="#C9AB81" stroke-width="2" stroke-linecap="round"/>
</svg>
                          </button>
                          <input id="spinButton" type="number" name="spinButton" value="1">
                          <button class="plus btn" type="button" value="1"><svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 7.00147H13M7 13.0015V1.00146" stroke="#C9AB81" stroke-width="2" stroke-linecap="round"/>
</svg>
                          </button>
                        </div>
                      </li>
                      <li> <span class="mb-text">小記：</span><span><span>$&nbsp;&nbsp;</span><span class="item_total">4020</span></span></li>
                      <li style="display:flex;">
                        <div class="cart-table_cancel cart_content-table_cancel"><svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.5 1H14V3H0V1H3.5L4.5 0H9.5L10.5 1ZM1 16V4H13V16C13 17.1 12.1 18 11 18H3C1.9 18 1 17.1 1 16Z" fill="#C9AB81"/>
</svg>
                        </div>
                        <div class="cart-table_cancel-mb cart_content-cart-card_cancel-mb"><svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.3033 12.3033L11.9099 1.6967M11.9099 12.3033L1.3033 1.6967" stroke="#C9AB81" stroke-width="2" stroke-linecap="round"/>
</svg>
                        </div>
                      </li>
                    </div>
                    <div class="cart-table_td cart_content-table_td">
                      <li>
                        <div class="cart-table_image cart_content-table_image">
                          <div style="background-image: url(../assets/20200723130357529295.jpg)"></div>
                        </div>
                      </li>
                      <li>豐饌皇家御禮</li>
                      <li><span class="mb-text">產品規格：</span><span>11</span></li>
                      <li> <span>$&nbsp;&nbsp;</span><span class="origin_price">134</span></li>
                      <li>
                        <div class="spinButton cart_content_spinButton card-table-spinButton">
                          <button class="less btn" type="button" value="-1"><svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1" y1="1.00146" x2="11" y2="1.00146" stroke="#C9AB81" stroke-width="2" stroke-linecap="round"/>
</svg>
                          </button>
                          <input id="spinButton" type="number" name="spinButton" value="1">
                          <button class="plus btn" type="button" value="1"><svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 7.00147H13M7 13.0015V1.00146" stroke="#C9AB81" stroke-width="2" stroke-linecap="round"/>
</svg>
                          </button>
                        </div>
                      </li>
                      <li> <span class="mb-text">小記：</span><span><span>$&nbsp;&nbsp;</span><span class="item_total">4020</span></span></li>
                      <li style="display:flex;">
                        <div class="cart-table_cancel cart_content-table_cancel"><svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.5 1H14V3H0V1H3.5L4.5 0H9.5L10.5 1ZM1 16V4H13V16C13 17.1 12.1 18 11 18H3C1.9 18 1 17.1 1 16Z" fill="#C9AB81"/>
</svg>
                        </div>
                        <div class="cart-table_cancel-mb cart_content-cart-card_cancel-mb"><svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.3033 12.3033L11.9099 1.6967M11.9099 12.3033L1.3033 1.6967" stroke="#C9AB81" stroke-width="2" stroke-linecap="round"/>
</svg>
                        </div>
                      </li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cart_details">
              <li><span>小計：</span><span><span>$ </span><span class="order_sub_total_price">4020</span><span>元</span></span></li>
              <li><span>折價：</span><span> <span>- $ </span><span class="order_discount_price">250</span><span>元</span></span></li>
              <li><span>總計：</span><span> <span>NT$ </span><span class="order_total_price">3970</span><span>元</span></span></li>
            </div>
            <div class="cart_btn"> <a class="btn btn-primary" href="cart2.html">前往結帳</a></div>
          </div>
        </div>
      </div>
      <div class="goTop_monitor"></div><svg class="goTop" width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="68" height="68" fill="#C9AB81"/>
<path d="M32.268 22C33.0378 20.6667 34.9623 20.6667 35.7321 22L45.2583 38.5C46.0281 39.8333 45.0659 41.5 43.5263 41.5H24.4737C22.9341 41.5 21.9719 39.8333 22.7417 38.5L32.268 22Z" fill="white"/>
</svg>
      <footer class="footer">
        <div class="footer_bg">
          <div class="footer_top"><a class="footer_top-link test" href="FQA.html">購物常見問題</a><a class="footer_top-link" href="FQA.html">隱私權政策</a></div>
          <div class="footer_bottom">
            <div class="footer_bottom-company"> <a class="footer_logo-group" href="index.html">
                <div class="footer_logo"> <img src="../assets/logo-white.png" alt=""></div>
                <div class="footer_logo-text">
                  <div class="footer_logo-title">豐饌</div>
                  <div class="footer_logo-sub">fengzhuan</div>
                </div></a>
              <div class="footer_logo-info">
                <p>©2019 FENGZHUAN All Rights Reserve.</p>
                <p>service@fengzhuan.com.tw</p>
              </div>
            </div>
            <div class="social_logo footer_bottom-social_logo"><a class="social_logo__btn btn" href="#"><svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.1123 4.90157C11.3955 4.7582 10.4273 4.6511 9.81842 4.6511C8.16971 4.6511 8.06261 5.36793 8.06261 6.51486V8.55658H12.184L11.8247 12.7859H8.06261V25.6501H2.90227V12.7859H0.25V8.55658H2.90227V5.94055C2.90227 2.35723 4.58641 0.350098 8.81487 0.350098C10.284 0.350098 11.3592 0.565149 12.7566 0.851882L12.1123 4.90157Z" fill="white"/>
</svg></a><a class="social_logo__btn btn" href="#"><svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1.5" y="1.5" width="22" height="17" rx="1.5" stroke="white" stroke-width="3"/>
<path d="M13 10.5L2.5 2.5" stroke="white" stroke-width="3" stroke-linecap="round"/>
<path d="M13 10.5L22.5 2.5" stroke="white" stroke-width="3" stroke-linecap="round"/>
</svg></a><a class="social_logo__btn btn" href="#"><svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M26.215 10.6407C26.215 4.77566 20.335 0.00366211 13.108 0.00366211C5.881 0.00366211 0 4.77566 0 10.6407C0 15.8987 4.663 20.3027 10.962 21.1357C11.389 21.2277 11.97 21.4177 12.117 21.7817C12.249 22.1127 12.203 22.6317 12.159 22.9667C12.159 22.9667 12.006 23.8917 11.972 24.0887C11.915 24.4197 11.709 25.3847 13.107 24.7957C14.506 24.2067 20.655 20.3507 23.405 17.1847H23.404C25.305 15.1027 26.215 12.9877 26.215 10.6407ZM7.977 14.1307H5.373C4.994 14.1307 4.686 13.8227 4.686 13.4427V8.23366C4.686 7.85466 4.994 7.54666 5.373 7.54666C5.752 7.54666 6.06 7.85466 6.06 8.23366V12.7547H7.977C8.356 12.7547 8.664 13.0627 8.664 13.4417C8.664 13.8217 8.356 14.1307 7.977 14.1307ZM10.67 13.4427C10.67 13.8217 10.362 14.1307 9.983 14.1307C9.604 14.1307 9.296 13.8227 9.296 13.4427V8.23366C9.296 7.85466 9.604 7.54666 9.983 7.54666C10.362 7.54666 10.67 7.85466 10.67 8.23366V13.4427ZM16.94 13.4427C16.94 13.7397 16.752 14.0017 16.47 14.0947C16.399 14.1187 16.325 14.1307 16.252 14.1307C16.037 14.1307 15.832 14.0277 15.703 13.8557L13.034 10.2207V13.4427C13.034 13.8217 12.726 14.1307 12.346 14.1307C11.967 14.1307 11.658 13.8227 11.658 13.4427V8.23366C11.658 7.93766 11.847 7.67566 12.128 7.58166C12.199 7.55766 12.272 7.54666 12.346 7.54666C12.56 7.54666 12.766 7.64966 12.895 7.82166L15.565 11.4567V8.23366C15.565 7.85466 15.874 7.54666 16.253 7.54666C16.632 7.54666 16.94 7.85466 16.94 8.23366V13.4427ZM21.154 10.1507C21.533 10.1507 21.842 10.4587 21.842 10.8387C21.842 11.2177 21.534 11.5257 21.154 11.5257H19.237V12.7557H21.154C21.533 12.7557 21.842 13.0637 21.842 13.4427C21.842 13.8217 21.533 14.1307 21.154 14.1307H18.55C18.172 14.1307 17.863 13.8227 17.863 13.4427V10.8397C17.863 10.8387 17.863 10.8387 17.863 10.8387V10.8377V8.23666C17.863 8.23566 17.863 8.23566 17.863 8.23466C17.863 7.85566 18.171 7.54766 18.55 7.54766H21.154C21.533 7.54766 21.842 7.85566 21.842 8.23466C21.842 8.61366 21.534 8.92166 21.154 8.92166H19.237V10.1517H21.154V10.1507Z" fill="white"/>
</svg></a></div>
          </div>
        </div>
      </footer>
    </main>
  <script src="../js/vendor.js?111b033531659c7d15cc"></script><script src="../js/main.js?111b033531659c7d15cc"></script><script src="../js/cart.js?111b033531659c7d15cc"></script></body>
</html>

src/pug/view/cart.pug
extends ../layout/default.pug


block view
    .cart
        .cart_container
            .cart_head
                -let e = {el:'cart_head',title:'購物車',sub:'SHOPPING CART',double:false,full:true}
                +sec_title(e)
            .cart_content
                .cart_content__step
                    li.active 商品規格
                    li  付款&配送
                .cart_content__step-mb
                    +step({el:'cart_head',list:[{title:'商品規格',link:'cart.html',active:true},{title:'付款&配送',link:'cart2.html'},{title:'訂單確認',link:'cart3.html'}]})
                .cart_content__list
                    - let k = {el:'cart_content',checked:false,list:[
                    -    {image: '20200723130357529295.jpg' ,name: '豐饌皇家御禮' ,spec: '11' ,o_price: '134' ,qty: '30' ,s_price: '4020',  },
                    -    {image: '20200723130357529295.jpg' ,name: '豐饌皇家御禮' ,spec: '11' ,o_price: '134' ,qty: '30' ,s_price: '4020',  },
                    -]}
                    .cart_content__item
                        +cart_card2(k)

                    //- .cart_content__item
                    //-     .cart_content__item_th
                    //-         li 產品圖
                    //-         li 產品名
                    //-         li 產品規格
                    //-         li 單價(NT)
                    //-         li 數量
                    //-         li 小記(NT)
                    //-         li 刪除
                    //-     .cart_content__item_td
                    //-         li
                    //-             .cart-card_image.cart-cart-card_image
                    //-                 div(style="background-image: url(../assets/20200723130357529295.jpg)")
                    //-         li 豐饌皇家御禮
                    //-         li 1盒
                    //-         li $1388
                    //-         li 
                    //-             +spin('cart','card',2)
                    //-         li $2776
                    //-         li 
                    //-             .cart-card_cancel(class='cart-cart-card_cancel')
                    //-                 include ../icon/trash.pug
                .cart_details
                    li
                        span 小計：
                        span
                            span $ 
                            span.order_sub_total_price 4020
                            span 元
                    li
                        span 折價：
                        span 
                            span - $ 
                            span.order_discount_price 250
                            span 元
                    //- li
                    //-     span 折價碼：
                    //-     span 
                    //-         input#discount(type="text" name="discount" placeholder="請輸入折價碼")
                    li
                        span 總計：
                        span 
                            span NT$ 
                            span.order_total_price 3970
                            span 元
                .cart_btn 
                    a(href="cart2.html").btn.btn-primary 前往結帳
