src/pug/view/contact.pug
extends ../layout/default.pug

block styles
    link(href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet')

block view
    .contact
        .contact_head
            -let contact_title = {el:'contact',title:'聯絡我們',sub:'CONTACT',double:false}
            +sec_title(contact_title)
        .contact_body
            .contact_body__top
                div(style="background-image:url( '"+ image_path +"39393999_2018243338240138_3957645258971414528_o.jpg')")
            .contact_body__text
                p 株式会社 BAKE は、企業理念である
                p 「お菓子を、進化させる」の実現に向け、
                p お菓子のスタートアップとして
                p 今の時代にあった
                p 本質的なお菓子作りを追求しています。
            .contact_body__map#map
            .contact_body__info
                .contact_body__info_list
                    .contact_body__info_item
                        .contact_body__info_item__title  公司名稱
                        .contact_body__info_item__sub 豐饌興業股份有限公司

                    .contact_body__info_item
                        .contact_body__info_item__title  公司地址
                        .contact_body__info_item__sub 台中市西區精誠路386號

                    .contact_body__info_item
                        .contact_body__info_item__title  客服專線
                        .contact_body__info_item__sub 04-2472-1888

                .contact_body__info_social 
                    .contact_body__info_social__item 
                        include ../icon/fb-logo.pug
                    .contact_body__info_social__item 
                        include ../icon/line-logo.pug
                    .contact_body__info_social__item 
                        include ../icon/email-logo.pug

            form(action="").contact_body__form
                .contact_body__form_title CONTACT FROM
                .contact_body__form_body.form
                    -let contact_form = []
                    -contact_form.push(
                    -   {layout:21 ,
                    -       child:[ 
                    -           {layout:21 ,name:'name',id:'name',label:'姓名',type:'text',required:true,placeholder:''},
                    -           {layout:21,name:'tel',id:'phone',label:'電話',type:'tel',required:true,placeholder:''}
                    -       ]
                    -   })
                    -contact_form.push({layout:12 ,name:'email',id:'email',label:'E-MAIL',type:'e-mail',required:true,placeholder:''})
                    -contact_form.push({layout:12 ,name:'content',id:'comments',label:'意見',type:'textarea',required:true,rows:10,placeholder:''})
                    +setup_form(contact_form,'row')
                .contact_body__form_submit 
                    button(type="submit").btn
                        span 聯絡我們
                        include ../icon/arrow_half.pug

dist/view/contact.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,shrink-to-fit=no">
    <meta name="author" content="fengzhuan">
    <meta name="keyword" content="fengzhuan">
    <meta name="description" content="fengzhuan">
    <title>fengzhuan</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet">
  <link href="../css/vendor.css?111b033531659c7d15cc" rel="stylesheet"><link href="../css/main.css?111b033531659c7d15cc" rel="stylesheet"></head>
  <body class="body">
    <main class="main" id="pagemain">
      <header class="header"><a class="header_logo" href="index.html"><img src="../assets/logo-white.png" alt="">
          <div class="header_logo__head">
            <div class="header_logo__title">豐饌</div>
            <div class="header_logo__sub">FENGZHUAN</div>
          </div></a>
        <div class="header_nav">
          <div class="header_nav__list"><a class="header_nav__item" href="login.html"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M31 9.37236V22.626C31 27.5366 27.9285 31 23.0206 31H8.96316C4.05526 31 1 27.5366 1 22.626V9.37236C1 4.46179 4.07151 1 8.96316 1H23.0206C27.9285 1 31 4.46179 31 9.37236Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M16.1076 19.0567C12.3154 19.0567 9.07693 19.63 9.07693 21.9263C9.07693 24.2225 12.2949 24.8164 16.1076 24.8164C19.8998 24.8164 23.1374 24.2421 23.1374 21.9468C23.1374 19.6515 19.9204 19.0567 16.1076 19.0567Z" stroke="white" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M16.1076 15.7815C18.5963 15.7815 20.6133 13.7635 20.6133 11.2749C20.6133 8.78627 18.5963 6.76923 16.1076 6.76923C13.619 6.76923 11.601 8.78627 11.601 11.2749C11.5926 13.7551 13.5966 15.7731 16.0759 15.7815H16.1076Z" stroke="white" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
</svg></a><a class="header_nav__item active" href="cart.html"><svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.5 18.25H28.5" stroke="white" stroke-width="2"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.8749 28.375C10.8749 25.7869 10.1535 15.5966 9.75218 10.4331L11.2477 10.3169C11.6464 15.4475 12.3749 25.7131 12.3749 28.375H10.8749Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.2557 28.282L19.5057 10.282L20.9941 10.468L18.7441 28.468L17.2557 28.282Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M24.7227 11.5H5.27716C3.43122 11.5 2.0232 13.1512 2.31484 14.974L3.87484 24.724C4.1077 26.1793 5.36327 27.25 6.83716 27.25H23.1627C24.6366 27.25 25.8921 26.1793 26.125 24.724L27.685 14.974C27.9767 13.1512 26.5686 11.5 24.7227 11.5ZM5.27716 10C2.50826 10 0.396215 12.4768 0.833676 15.211L2.39368 24.961C2.74297 27.144 4.62633 28.75 6.83716 28.75H23.1627C25.3735 28.75 27.2569 27.144 27.6062 24.961L29.1662 15.211C29.6036 12.4768 27.4916 10 24.7227 10H5.27716Z" fill="white"/>
<path d="M7.5 10.375C7.875 7.25 9.9 1 15 1C20.1 1 22.375 7.25 22.875 10.375" stroke="white" stroke-width="2"/>
</svg></a>
            <div class="header_btn">
              <li></li>
              <li></li>
            </div>
          </div>
        </div>
        <div class="header_sidebar"> 
          <div class="header_sidebar__bgc"></div>
          <div class="header_sidebar__body"></div>
        </div>
        <div class="header_toggle">
          <div class="header_toggle__list">
            <div class="header_toggle__item"><a class="header_toggle__title" href="index.html"> 
                <p>首頁</p>
                <p>ＴＯＰ</p></a></div>
            <!-- HEADER 新增部分-->
            <div class="header_toggle__item"><a class="header_toggle__title" data-bs-toggle="collapse" href="#collapseHeaderProduct" role="button" aria-expanded="false" aria-controls="collapseHeaderProduct"> 
                <p>豐饌商城</p>
                <p>ＰＲＯＤＵＣＴ</p></a>
              <div class="collapse" id="collapseHeaderProduct">
                <ul class="header_toggle__collapse card card-body">
                  <li class="header_toggle__collapse_item"><a href="products.html">xxxxxxx</a></li>
                  <li class="header_toggle__collapse_item"><a href="products.html">xxxxxxx</a></li>
                  <li class="header_toggle__collapse_item"><a href="products.html">xxxxxxx</a></li>
                  <li class="header_toggle__collapse_item"><a href="products.html">xxxxxxx</a></li>
                </ul>
              </div>
            </div>
            <!-- HEADER 新增部分-->
            <div class="header_toggle__item"><a class="header_toggle__title" href="news.html"> 
                <p>最新消息</p>
                <p>ＮＥＷＳ</p></a></div>
            <div class="header_toggle__item"><a class="header_toggle__title" href="account.html"> 
                <p>個人帳戶</p>
                <p>ＡＣＣＯＵＮＴ</p></a></div>
            <div class="header_toggle__item"><a class="header_toggle__title" href="contact.html"> 
                <p>聯絡我們</p>
                <p>ＣＯＮＴＡＣＴ</p></a></div>
          </div>
          <div class="social_logo header_toggle-social_logo"><a class="social_logo__btn btn" href="#"><svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.1123 4.90157C11.3955 4.7582 10.4273 4.6511 9.81842 4.6511C8.16971 4.6511 8.06261 5.36793 8.06261 6.51486V8.55658H12.184L11.8247 12.7859H8.06261V25.6501H2.90227V12.7859H0.25V8.55658H2.90227V5.94055C2.90227 2.35723 4.58641 0.350098 8.81487 0.350098C10.284 0.350098 11.3592 0.565149 12.7566 0.851882L12.1123 4.90157Z" fill="white"/>
</svg></a><a class="social_logo__btn btn" href="#"><svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1.5" y="1.5" width="22" height="17" rx="1.5" stroke="white" stroke-width="3"/>
<path d="M13 10.5L2.5 2.5" stroke="white" stroke-width="3" stroke-linecap="round"/>
<path d="M13 10.5L22.5 2.5" stroke="white" stroke-width="3" stroke-linecap="round"/>
</svg></a><a class="social_logo__btn btn" href="#"><svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M26.215 10.6407C26.215 4.77566 20.335 0.00366211 13.108 0.00366211C5.881 0.00366211 0 4.77566 0 10.6407C0 15.8987 4.663 20.3027 10.962 21.1357C11.389 21.2277 11.97 21.4177 12.117 21.7817C12.249 22.1127 12.203 22.6317 12.159 22.9667C12.159 22.9667 12.006 23.8917 11.972 24.0887C11.915 24.4197 11.709 25.3847 13.107 24.7957C14.506 24.2067 20.655 20.3507 23.405 17.1847H23.404C25.305 15.1027 26.215 12.9877 26.215 10.6407ZM7.977 14.1307H5.373C4.994 14.1307 4.686 13.8227 4.686 13.4427V8.23366C4.686 7.85466 4.994 7.54666 5.373 7.54666C5.752 7.54666 6.06 7.85466 6.06 8.23366V12.7547H7.977C8.356 12.7547 8.664 13.0627 8.664 13.4417C8.664 13.8217 8.356 14.1307 7.977 14.1307ZM10.67 13.4427C10.67 13.8217 10.362 14.1307 9.983 14.1307C9.604 14.1307 9.296 13.8227 9.296 13.4427V8.23366C9.296 7.85466 9.604 7.54666 9.983 7.54666C10.362 7.54666 10.67 7.85466 10.67 8.23366V13.4427ZM16.94 13.4427C16.94 13.7397 16.752 14.0017 16.47 14.0947C16.399 14.1187 16.325 14.1307 16.252 14.1307C16.037 14.1307 15.832 14.0277 15.703 13.8557L13.034 10.2207V13.4427C13.034 13.8217 12.726 14.1307 12.346 14.1307C11.967 14.1307 11.658 13.8227 11.658 13.4427V8.23366C11.658 7.93766 11.847 7.67566 12.128 7.58166C12.199 7.55766 12.272 7.54666 12.346 7.54666C12.56 7.54666 12.766 7.64966 12.895 7.82166L15.565 11.4567V8.23366C15.565 7.85466 15.874 7.54666 16.253 7.54666C16.632 7.54666 16.94 7.85466 16.94 8.23366V13.4427ZM21.154 10.1507C21.533 10.1507 21.842 10.4587 21.842 10.8387C21.842 11.2177 21.534 11.5257 21.154 11.5257H19.237V12.7557H21.154C21.533 12.7557 21.842 13.0637 21.842 13.4427C21.842 13.8217 21.533 14.1307 21.154 14.1307H18.55C18.172 14.1307 17.863 13.8227 17.863 13.4427V10.8397C17.863 10.8387 17.863 10.8387 17.863 10.8387V10.8377V8.23666C17.863 8.23566 17.863 8.23566 17.863 8.23466C17.863 7.85566 18.171 7.54766 18.55 7.54766H21.154C21.533 7.54766 21.842 7.85566 21.842 8.23466C21.842 8.61366 21.534 8.92166 21.154 8.92166H19.237V10.1517H21.154V10.1507Z" fill="white"/>
</svg></a></div>
        </div>
      </header>
      <div class="contact">
        <div class="contact_head">
          <div class="sec_head contact-sec_head">
            <div class="sec_title contact-sec_title">聯絡我們</div>
            <div class="sec_subtitle contact-sec_subtitle">CONTACT</div>
          </div>
        </div>
        <div class="contact_body">
          <div class="contact_body__top">
            <div style="background-image:url( '../assets/39393999_2018243338240138_3957645258971414528_o.jpg')"></div>
          </div>
          <div class="contact_body__text">
            <p>株式会社 BAKE は、企業理念である</p>
            <p>「お菓子を、進化させる」の実現に向け、</p>
            <p>お菓子のスタートアップとして</p>
            <p>今の時代にあった</p>
            <p>本質的なお菓子作りを追求しています。</p>
          </div>
          <div class="contact_body__map" id="map"></div>
          <div class="contact_body__info">
            <div class="contact_body__info_list">
              <div class="contact_body__info_item">
                <div class="contact_body__info_item__title"> 公司名稱</div>
                <div class="contact_body__info_item__sub">豐饌興業股份有限公司</div>
              </div>
              <div class="contact_body__info_item">
                <div class="contact_body__info_item__title"> 公司地址</div>
                <div class="contact_body__info_item__sub">台中市西區精誠路386號</div>
              </div>
              <div class="contact_body__info_item">
                <div class="contact_body__info_item__title"> 客服專線</div>
                <div class="contact_body__info_item__sub">04-2472-1888</div>
              </div>
            </div>
            <div class="contact_body__info_social"> 
              <div class="contact_body__info_social__item"> <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.1123 4.90157C11.3955 4.7582 10.4273 4.6511 9.81842 4.6511C8.16971 4.6511 8.06261 5.36793 8.06261 6.51486V8.55658H12.184L11.8247 12.7859H8.06261V25.6501H2.90227V12.7859H0.25V8.55658H2.90227V5.94055C2.90227 2.35723 4.58641 0.350098 8.81487 0.350098C10.284 0.350098 11.3592 0.565149 12.7566 0.851882L12.1123 4.90157Z" fill="white"/>
</svg>
              </div>
              <div class="contact_body__info_social__item"> <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M26.215 10.6407C26.215 4.77566 20.335 0.00366211 13.108 0.00366211C5.881 0.00366211 0 4.77566 0 10.6407C0 15.8987 4.663 20.3027 10.962 21.1357C11.389 21.2277 11.97 21.4177 12.117 21.7817C12.249 22.1127 12.203 22.6317 12.159 22.9667C12.159 22.9667 12.006 23.8917 11.972 24.0887C11.915 24.4197 11.709 25.3847 13.107 24.7957C14.506 24.2067 20.655 20.3507 23.405 17.1847H23.404C25.305 15.1027 26.215 12.9877 26.215 10.6407ZM7.977 14.1307H5.373C4.994 14.1307 4.686 13.8227 4.686 13.4427V8.23366C4.686 7.85466 4.994 7.54666 5.373 7.54666C5.752 7.54666 6.06 7.85466 6.06 8.23366V12.7547H7.977C8.356 12.7547 8.664 13.0627 8.664 13.4417C8.664 13.8217 8.356 14.1307 7.977 14.1307ZM10.67 13.4427C10.67 13.8217 10.362 14.1307 9.983 14.1307C9.604 14.1307 9.296 13.8227 9.296 13.4427V8.23366C9.296 7.85466 9.604 7.54666 9.983 7.54666C10.362 7.54666 10.67 7.85466 10.67 8.23366V13.4427ZM16.94 13.4427C16.94 13.7397 16.752 14.0017 16.47 14.0947C16.399 14.1187 16.325 14.1307 16.252 14.1307C16.037 14.1307 15.832 14.0277 15.703 13.8557L13.034 10.2207V13.4427C13.034 13.8217 12.726 14.1307 12.346 14.1307C11.967 14.1307 11.658 13.8227 11.658 13.4427V8.23366C11.658 7.93766 11.847 7.67566 12.128 7.58166C12.199 7.55766 12.272 7.54666 12.346 7.54666C12.56 7.54666 12.766 7.64966 12.895 7.82166L15.565 11.4567V8.23366C15.565 7.85466 15.874 7.54666 16.253 7.54666C16.632 7.54666 16.94 7.85466 16.94 8.23366V13.4427ZM21.154 10.1507C21.533 10.1507 21.842 10.4587 21.842 10.8387C21.842 11.2177 21.534 11.5257 21.154 11.5257H19.237V12.7557H21.154C21.533 12.7557 21.842 13.0637 21.842 13.4427C21.842 13.8217 21.533 14.1307 21.154 14.1307H18.55C18.172 14.1307 17.863 13.8227 17.863 13.4427V10.8397C17.863 10.8387 17.863 10.8387 17.863 10.8387V10.8377V8.23666C17.863 8.23566 17.863 8.23566 17.863 8.23466C17.863 7.85566 18.171 7.54766 18.55 7.54766H21.154C21.533 7.54766 21.842 7.85566 21.842 8.23466C21.842 8.61366 21.534 8.92166 21.154 8.92166H19.237V10.1517H21.154V10.1507Z" fill="white"/>
</svg>
              </div>
              <div class="contact_body__info_social__item"> <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1.5" y="1.5" width="22" height="17" rx="1.5" stroke="white" stroke-width="3"/>
<path d="M13 10.5L2.5 2.5" stroke="white" stroke-width="3" stroke-linecap="round"/>
<path d="M13 10.5L22.5 2.5" stroke="white" stroke-width="3" stroke-linecap="round"/>
</svg>
              </div>
            </div>
          </div>
          <form class="contact_body__form" action="">
            <div class="contact_body__form_title">CONTACT FROM</div>
            <div class="contact_body__form_body form">
              <div class="form-group-multi row">
                <div class="col-21 col wrap">
                  <label class="form-label" for="name"><span>姓名</span><span class="dot"></span>
                  </label>
                  <input class="form-control" type="text" id="name" required="required" placeholder="" name="name">
                </div>
                <div class="col-21 col wrap">
                  <label class="form-label" for="phone"><span>電話</span><span class="dot"></span>
                  </label>
                  <input class="form-control" type="tel" id="phone" required="required" placeholder="" name="tel">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 col wrap">
                  <label class="form-label" for="email"><span>E-MAIL</span><span class="dot"></span>
                  </label>
                  <input class="form-control" type="e-mail" id="email" required="required" placeholder="" name="email">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 col wrap">
                  <label class="form-label" for="comments"><span>意見</span><span class="dot"></span>
                  </label>
                  <textarea class="form-control form-textarea" id="comments" required="required" row="10" placeholder="" name="content"></textarea>
                </div>
              </div>
            </div>
            <div class="contact_body__form_submit"> 
              <button class="btn" type="submit"><span>聯絡我們</span><svg width="37" height="12" viewBox="0 0 37 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 11H35L21.3684 1" stroke="#C9AB81"/>
</svg>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="goTop_monitor"></div><svg class="goTop" width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="68" height="68" fill="#C9AB81"/>
<path d="M32.268 22C33.0378 20.6667 34.9623 20.6667 35.7321 22L45.2583 38.5C46.0281 39.8333 45.0659 41.5 43.5263 41.5H24.4737C22.9341 41.5 21.9719 39.8333 22.7417 38.5L32.268 22Z" fill="white"/>
</svg>
      <footer class="footer">
        <div class="footer_bg">
          <div class="footer_top"><a class="footer_top-link test" href="FQA.html">購物常見問題</a><a class="footer_top-link" href="FQA.html">隱私權政策</a></div>
          <div class="footer_bottom">
            <div class="footer_bottom-company"> <a class="footer_logo-group" href="index.html">
                <div class="footer_logo"> <img src="../assets/logo-white.png" alt=""></div>
                <div class="footer_logo-text">
                  <div class="footer_logo-title">豐饌</div>
                  <div class="footer_logo-sub">fengzhuan</div>
                </div></a>
              <div class="footer_logo-info">
                <p>©2019 FENGZHUAN All Rights Reserve.</p>
                <p>service@fengzhuan.com.tw</p>
              </div>
            </div>
            <div class="social_logo footer_bottom-social_logo"><a class="social_logo__btn btn" href="#"><svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.1123 4.90157C11.3955 4.7582 10.4273 4.6511 9.81842 4.6511C8.16971 4.6511 8.06261 5.36793 8.06261 6.51486V8.55658H12.184L11.8247 12.7859H8.06261V25.6501H2.90227V12.7859H0.25V8.55658H2.90227V5.94055C2.90227 2.35723 4.58641 0.350098 8.81487 0.350098C10.284 0.350098 11.3592 0.565149 12.7566 0.851882L12.1123 4.90157Z" fill="white"/>
</svg></a><a class="social_logo__btn btn" href="#"><svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1.5" y="1.5" width="22" height="17" rx="1.5" stroke="white" stroke-width="3"/>
<path d="M13 10.5L2.5 2.5" stroke="white" stroke-width="3" stroke-linecap="round"/>
<path d="M13 10.5L22.5 2.5" stroke="white" stroke-width="3" stroke-linecap="round"/>
</svg></a><a class="social_logo__btn btn" href="#"><svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M26.215 10.6407C26.215 4.77566 20.335 0.00366211 13.108 0.00366211C5.881 0.00366211 0 4.77566 0 10.6407C0 15.8987 4.663 20.3027 10.962 21.1357C11.389 21.2277 11.97 21.4177 12.117 21.7817C12.249 22.1127 12.203 22.6317 12.159 22.9667C12.159 22.9667 12.006 23.8917 11.972 24.0887C11.915 24.4197 11.709 25.3847 13.107 24.7957C14.506 24.2067 20.655 20.3507 23.405 17.1847H23.404C25.305 15.1027 26.215 12.9877 26.215 10.6407ZM7.977 14.1307H5.373C4.994 14.1307 4.686 13.8227 4.686 13.4427V8.23366C4.686 7.85466 4.994 7.54666 5.373 7.54666C5.752 7.54666 6.06 7.85466 6.06 8.23366V12.7547H7.977C8.356 12.7547 8.664 13.0627 8.664 13.4417C8.664 13.8217 8.356 14.1307 7.977 14.1307ZM10.67 13.4427C10.67 13.8217 10.362 14.1307 9.983 14.1307C9.604 14.1307 9.296 13.8227 9.296 13.4427V8.23366C9.296 7.85466 9.604 7.54666 9.983 7.54666C10.362 7.54666 10.67 7.85466 10.67 8.23366V13.4427ZM16.94 13.4427C16.94 13.7397 16.752 14.0017 16.47 14.0947C16.399 14.1187 16.325 14.1307 16.252 14.1307C16.037 14.1307 15.832 14.0277 15.703 13.8557L13.034 10.2207V13.4427C13.034 13.8217 12.726 14.1307 12.346 14.1307C11.967 14.1307 11.658 13.8227 11.658 13.4427V8.23366C11.658 7.93766 11.847 7.67566 12.128 7.58166C12.199 7.55766 12.272 7.54666 12.346 7.54666C12.56 7.54666 12.766 7.64966 12.895 7.82166L15.565 11.4567V8.23366C15.565 7.85466 15.874 7.54666 16.253 7.54666C16.632 7.54666 16.94 7.85466 16.94 8.23366V13.4427ZM21.154 10.1507C21.533 10.1507 21.842 10.4587 21.842 10.8387C21.842 11.2177 21.534 11.5257 21.154 11.5257H19.237V12.7557H21.154C21.533 12.7557 21.842 13.0637 21.842 13.4427C21.842 13.8217 21.533 14.1307 21.154 14.1307H18.55C18.172 14.1307 17.863 13.8227 17.863 13.4427V10.8397C17.863 10.8387 17.863 10.8387 17.863 10.8387V10.8377V8.23666C17.863 8.23566 17.863 8.23566 17.863 8.23466C17.863 7.85566 18.171 7.54766 18.55 7.54766H21.154C21.533 7.54766 21.842 7.85566 21.842 8.23466C21.842 8.61366 21.534 8.92166 21.154 8.92166H19.237V10.1517H21.154V10.1507Z" fill="white"/>
</svg></a></div>
          </div>
        </div>
      </footer>
    </main>
  <script src="../js/vendor.js?111b033531659c7d15cc"></script><script src="../js/main.js?111b033531659c7d15cc"></script><script src="../js/contact.js?111b033531659c7d15cc"></script></body>
</html>
