src/pug/view/product.pug
extends ../layout/default.pug


block view
    .product 
        .products_head 
            -let products_head = {el:'products',title:'豐饌商城',sub:'MALL',double:false}
            +sec_title(products_head)

            -let products_dropdown = []
            -products_dropdown.push({el:'products',title:'最熱銷',sub:'',list:['蜜蕾酥']})
            -products_dropdown.push({el:'products',title:'戀の鳳梨季',sub:'幸福感麵包甜點限定草莓季',list:['蜜蕾酥','蜜蕾酥','蜜蕾酥','蜜蕾酥','蜜蕾酥','蜜蕾酥','蜜蕾酥','蜜蕾酥']})
            +products_dropdown(products_dropdown)

            -let products_head__breadcrumb = []
            -products_head__breadcrumb.push({el:'products_head',title:'豐饌商城',link:'products.html'})
            -products_head__breadcrumb.push({el:'products_head',title:'最熱銷',link:'products.html'})
            -products_head__breadcrumb.push({el:'products_head',title:'豐饌經典御禮',link:'#'})
            +breadcrumb(products_head__breadcrumb)


        .product_content
            //top
            .product_content__top
                //left
                .product_content__top_left
                    -let product_content = {el:'product_content__top',title:'豐饌經典御禮(11入)',price:6458,img:'20200723130437658957.jpg',other:false}
                    +product_card_image(product_content)
                //right
                form(action="").product_content__top_right
                    .product_content__top_right__title 豐饌經典御禮(11入)
                    .product_content__top_right__sub 
                        | #雲豆松子蛋黃酥，圓潤的金黃色酥皮，天然紅土醃製鴨蛋黃
                        | ，甜軟雲豆泥餡內散發著松子香。#白鳳豆梅紫酥
                        | 特選水里Ｑ梅，微酸微甜，一咬開香酥表層，酸甜交織，立即佔領你的味蕾。
                    .product_content__top_right__radio
                        -let product_content_radio = []
                        -product_content_radio.push({layout:11,id:'favor',name:"spec_id",label:'',type:'radio',required:true,options:[{text:'雲豆松子蛋黃酥',value:"33"},{text:'白鳳豆梅子(奶素)',value:"21"},{text:'綜合口味(蛋黃6/梅子6)',value:"43"}]})
                        +setup_form(product_content_radio,'row')
                    .product_content__top_right__add
                        +spin('product','product_content__top_right__add',1)

                        -let product_content__top_right__add_link = {el:'product_content__top_right__add',title:'豐饌經典御禮(11入)',price:6458,img:'20200723130437658957.jpg',other:false}
                        +product_link(product_content__top_right__add_link)

            //swiper
            .product_content__swiper
                .product_content__swiper_navigation
                    .product_content__swiper_prev
                        include ../icon/arrow_half_left.pug
                    .product_content__swiper_next
                        p swiper
                        include ../icon/arrow_half_right.pug
                .swiper-container.product_content__swiper_container
                    .swiper-wrapper 
                        -let product_content__swiper = ['20200723130357529295.jpg','20200723130420859587.jpg','69316461_2613323955398737_634390532457496576_n.jpg','69316461_2613323955398737_634390532457496576_n.jpg']
                        each val in product_content__swiper
                            .swiper-slide.product_content__swiper_slide
                                div(style="background-image: url("+ image_path + val +")")


            //note
            .product_content__note
                .product_content__note_pagination
                    //- .product_content__note_title
                    //-     include ../icon/bag.pug
                    //-     p 產品須知
                    //- .product_content__note_title
                    //-     include ../icon/bag.pug
                    //-     p 退換貨須知
                ul.product_content__note_list.swiper-container
                    .swiper-wrapper 
                        .swiper-slide.product_content__note_list__slide
                            li.product_content__note_item
                                | ⦿ 此商品限門店取貨，並限定周五六日出貨。商品採新鮮製作、當日寄供貨，還請訂購後耐心等候。
                                br
                                | ※貼心提醒：到店取貨不適用當天下訂，當天取貨，如有需求請致電各門市詢問，敬請配合，謝謝。
                            li.product_content__note_item ⦿ 請注意：例假日及周日不出貨，訂單將於上班日後依照訂單先後順序處理。
                            li.product_content__note_item ⦿ 提醒您：黑貓宅急便週日無收送件之服務，敬請見諒。
                            li.product_content__note_item ⦿ 若在天氣狀況不佳及交通道路中斷等配送困難的情況下，送達時間有可能變動。
                            li.product_content__note_item ⦿ 如因節慶關係訂單增加，則出貨時間將依據最新消息之公告說明為準。
                        .swiper-slide.product_content__note_list__slide
                            li.product_content__note_item
                                | ⦿ 此商品限門店取貨，並限定周五六日出貨。商品採新鮮製作、當日寄供貨，還請訂購後耐心等候。
                                br
                                | ※貼心提醒：到店取貨不適用當天下訂，當天取貨，如有需求請致電各門市詢問，敬請配合，謝謝。
                            li.product_content__note_item ⦿ 請注意：例假日及周日不出貨，訂單將於上班日後依照訂單先後順序處理。
                            li.product_content__note_item ⦿ 提醒您：黑貓宅急便週日無收送件之服務，敬請見諒。
                            li.product_content__note_item ⦿ 若在天氣狀況不佳及交通道路中斷等配送困難的情況下，送達時間有可能變動。
                            li.product_content__note_item ⦿ 如因節慶關係訂單增加，則出貨時間將依據最新消息之公告說明為準。
                            li.product_content__note_item
                                | ⦿ 此商品限門店取貨，並限定周五六日出貨。商品採新鮮製作、當日寄供貨，還請訂購後耐心等候。
                                br
                                | ※貼心提醒：到店取貨不適用當天下訂，當天取貨，如有需求請致電各門市詢問，敬請配合，謝謝。
                            li.product_content__note_item ⦿ 請注意：例假日及周日不出貨，訂單將於上班日後依照訂單先後順序處理。
                            li.product_content__note_item ⦿ 提醒您：黑貓宅急便週日無收送件之服務，敬請見諒。
                            li.product_content__note_item ⦿ 若在天氣狀況不佳及交通道路中斷等配送困難的情況下，送達時間有可能變動。
                            li.product_content__note_item ⦿ 如因節慶關係訂單增加，則出貨時間將依據最新消息之公告說明為準。


            //other
            .product_content__other
                -let product_content__other = {el:'product_content__other',title:'相關商品推薦',link:'product.html'}
                +block_hr(product_content__other)
                .product_content__other_swiper
                    .swiper-container.product_content__other_swiper__container
                        .swiper-wrapper
                            -let product_content__other_swiper = []
                            -product_content__other_swiper.push({el:'index_product__swiper',title:'豐饌經典御禮(11入)',price:6458,img:'20200723130437658957.jpg',other:true})
                            -product_content__other_swiper.push({el:'index_product__swiper',title:'法式手工餅乾禮盒',price:6458,img:'20200723132813537583.jpg',other:true})
                            -product_content__other_swiper.push({el:'index_product__swiper',title:'豐饌家傳典藏 干貝XO醬(2入)',price:6458,img:'39393999_2018243338240138_3957645258971414528_o.jpg',other:true})
                            -product_content__other_swiper.push({el:'index_product__swiper',title:'豐饌家傳典藏 干貝XO醬(2入)',price:6458,img:'39393999_2018243338240138_3957645258971414528_o.jpg',other:true})
                            each val in product_content__other_swiper
                                .swiper-slide.product_content__other_swiper__slide
                                    +product_card(val)

dist/view/product.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,shrink-to-fit=no">
    <meta name="author" content="fengzhuan">
    <meta name="keyword" content="fengzhuan">
    <meta name="description" content="fengzhuan">
    <title>fengzhuan</title>
  <link href="../css/vendor.css?111b033531659c7d15cc" rel="stylesheet"><link href="../css/main.css?111b033531659c7d15cc" rel="stylesheet"></head>
  <body class="body">
    <main class="main" id="pagemain">
      <header class="header"><a class="header_logo" href="index.html"><img src="../assets/logo-white.png" alt="">
          <div class="header_logo__head">
            <div class="header_logo__title">豐饌</div>
            <div class="header_logo__sub">FENGZHUAN</div>
          </div></a>
        <div class="header_nav">
          <div class="header_nav__list"><a class="header_nav__item" href="login.html"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M31 9.37236V22.626C31 27.5366 27.9285 31 23.0206 31H8.96316C4.05526 31 1 27.5366 1 22.626V9.37236C1 4.46179 4.07151 1 8.96316 1H23.0206C27.9285 1 31 4.46179 31 9.37236Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M16.1076 19.0567C12.3154 19.0567 9.07693 19.63 9.07693 21.9263C9.07693 24.2225 12.2949 24.8164 16.1076 24.8164C19.8998 24.8164 23.1374 24.2421 23.1374 21.9468C23.1374 19.6515 19.9204 19.0567 16.1076 19.0567Z" stroke="white" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M16.1076 15.7815C18.5963 15.7815 20.6133 13.7635 20.6133 11.2749C20.6133 8.78627 18.5963 6.76923 16.1076 6.76923C13.619 6.76923 11.601 8.78627 11.601 11.2749C11.5926 13.7551 13.5966 15.7731 16.0759 15.7815H16.1076Z" stroke="white" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
</svg></a><a class="header_nav__item active" href="cart.html"><svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.5 18.25H28.5" stroke="white" stroke-width="2"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.8749 28.375C10.8749 25.7869 10.1535 15.5966 9.75218 10.4331L11.2477 10.3169C11.6464 15.4475 12.3749 25.7131 12.3749 28.375H10.8749Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.2557 28.282L19.5057 10.282L20.9941 10.468L18.7441 28.468L17.2557 28.282Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M24.7227 11.5H5.27716C3.43122 11.5 2.0232 13.1512 2.31484 14.974L3.87484 24.724C4.1077 26.1793 5.36327 27.25 6.83716 27.25H23.1627C24.6366 27.25 25.8921 26.1793 26.125 24.724L27.685 14.974C27.9767 13.1512 26.5686 11.5 24.7227 11.5ZM5.27716 10C2.50826 10 0.396215 12.4768 0.833676 15.211L2.39368 24.961C2.74297 27.144 4.62633 28.75 6.83716 28.75H23.1627C25.3735 28.75 27.2569 27.144 27.6062 24.961L29.1662 15.211C29.6036 12.4768 27.4916 10 24.7227 10H5.27716Z" fill="white"/>
<path d="M7.5 10.375C7.875 7.25 9.9 1 15 1C20.1 1 22.375 7.25 22.875 10.375" stroke="white" stroke-width="2"/>
</svg></a>
            <div class="header_btn">
              <li></li>
              <li></li>
            </div>
          </div>
        </div>
        <div class="header_sidebar"> 
          <div class="header_sidebar__bgc"></div>
          <div class="header_sidebar__body"></div>
        </div>
        <div class="header_toggle">
          <div class="header_toggle__list">
            <div class="header_toggle__item"><a class="header_toggle__title" href="index.html"> 
                <p>首頁</p>
                <p>ＴＯＰ</p></a></div>
            <!-- HEADER 新增部分-->
            <div class="header_toggle__item"><a class="header_toggle__title" data-bs-toggle="collapse" href="#collapseHeaderProduct" role="button" aria-expanded="false" aria-controls="collapseHeaderProduct"> 
                <p>豐饌商城</p>
                <p>ＰＲＯＤＵＣＴ</p></a>
              <div class="collapse" id="collapseHeaderProduct">
                <ul class="header_toggle__collapse card card-body">
                  <li class="header_toggle__collapse_item"><a href="products.html">xxxxxxx</a></li>
                  <li class="header_toggle__collapse_item"><a href="products.html">xxxxxxx</a></li>
                  <li class="header_toggle__collapse_item"><a href="products.html">xxxxxxx</a></li>
                  <li class="header_toggle__collapse_item"><a href="products.html">xxxxxxx</a></li>
                </ul>
              </div>
            </div>
            <!-- HEADER 新增部分-->
            <div class="header_toggle__item"><a class="header_toggle__title" href="news.html"> 
                <p>最新消息</p>
                <p>ＮＥＷＳ</p></a></div>
            <div class="header_toggle__item"><a class="header_toggle__title" href="account.html"> 
                <p>個人帳戶</p>
                <p>ＡＣＣＯＵＮＴ</p></a></div>
            <div class="header_toggle__item"><a class="header_toggle__title" href="contact.html"> 
                <p>聯絡我們</p>
                <p>ＣＯＮＴＡＣＴ</p></a></div>
          </div>
          <div class="social_logo header_toggle-social_logo"><a class="social_logo__btn btn" href="#"><svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.1123 4.90157C11.3955 4.7582 10.4273 4.6511 9.81842 4.6511C8.16971 4.6511 8.06261 5.36793 8.06261 6.51486V8.55658H12.184L11.8247 12.7859H8.06261V25.6501H2.90227V12.7859H0.25V8.55658H2.90227V5.94055C2.90227 2.35723 4.58641 0.350098 8.81487 0.350098C10.284 0.350098 11.3592 0.565149 12.7566 0.851882L12.1123 4.90157Z" fill="white"/>
</svg></a><a class="social_logo__btn btn" href="#"><svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1.5" y="1.5" width="22" height="17" rx="1.5" stroke="white" stroke-width="3"/>
<path d="M13 10.5L2.5 2.5" stroke="white" stroke-width="3" stroke-linecap="round"/>
<path d="M13 10.5L22.5 2.5" stroke="white" stroke-width="3" stroke-linecap="round"/>
</svg></a><a class="social_logo__btn btn" href="#"><svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M26.215 10.6407C26.215 4.77566 20.335 0.00366211 13.108 0.00366211C5.881 0.00366211 0 4.77566 0 10.6407C0 15.8987 4.663 20.3027 10.962 21.1357C11.389 21.2277 11.97 21.4177 12.117 21.7817C12.249 22.1127 12.203 22.6317 12.159 22.9667C12.159 22.9667 12.006 23.8917 11.972 24.0887C11.915 24.4197 11.709 25.3847 13.107 24.7957C14.506 24.2067 20.655 20.3507 23.405 17.1847H23.404C25.305 15.1027 26.215 12.9877 26.215 10.6407ZM7.977 14.1307H5.373C4.994 14.1307 4.686 13.8227 4.686 13.4427V8.23366C4.686 7.85466 4.994 7.54666 5.373 7.54666C5.752 7.54666 6.06 7.85466 6.06 8.23366V12.7547H7.977C8.356 12.7547 8.664 13.0627 8.664 13.4417C8.664 13.8217 8.356 14.1307 7.977 14.1307ZM10.67 13.4427C10.67 13.8217 10.362 14.1307 9.983 14.1307C9.604 14.1307 9.296 13.8227 9.296 13.4427V8.23366C9.296 7.85466 9.604 7.54666 9.983 7.54666C10.362 7.54666 10.67 7.85466 10.67 8.23366V13.4427ZM16.94 13.4427C16.94 13.7397 16.752 14.0017 16.47 14.0947C16.399 14.1187 16.325 14.1307 16.252 14.1307C16.037 14.1307 15.832 14.0277 15.703 13.8557L13.034 10.2207V13.4427C13.034 13.8217 12.726 14.1307 12.346 14.1307C11.967 14.1307 11.658 13.8227 11.658 13.4427V8.23366C11.658 7.93766 11.847 7.67566 12.128 7.58166C12.199 7.55766 12.272 7.54666 12.346 7.54666C12.56 7.54666 12.766 7.64966 12.895 7.82166L15.565 11.4567V8.23366C15.565 7.85466 15.874 7.54666 16.253 7.54666C16.632 7.54666 16.94 7.85466 16.94 8.23366V13.4427ZM21.154 10.1507C21.533 10.1507 21.842 10.4587 21.842 10.8387C21.842 11.2177 21.534 11.5257 21.154 11.5257H19.237V12.7557H21.154C21.533 12.7557 21.842 13.0637 21.842 13.4427C21.842 13.8217 21.533 14.1307 21.154 14.1307H18.55C18.172 14.1307 17.863 13.8227 17.863 13.4427V10.8397C17.863 10.8387 17.863 10.8387 17.863 10.8387V10.8377V8.23666C17.863 8.23566 17.863 8.23566 17.863 8.23466C17.863 7.85566 18.171 7.54766 18.55 7.54766H21.154C21.533 7.54766 21.842 7.85566 21.842 8.23466C21.842 8.61366 21.534 8.92166 21.154 8.92166H19.237V10.1517H21.154V10.1507Z" fill="white"/>
</svg></a></div>
        </div>
      </header>
      <div class="product"> 
        <div class="products_head"> 
          <div class="sec_head products-sec_head">
            <div class="sec_title products-sec_title">豐饌商城</div>
            <div class="sec_subtitle products-sec_subtitle">MALL</div>
          </div>
          <div class="products_dropdown-group">
            <div class="products_dropdown">
              <button class="products_dropdown__toggle" type="button">
                <p>最熱銷</p>
                <p></p>
              </button>
              <ul class="products_dropdown__meun">
                <li><a class="products_dropdown__item" href="">蜜蕾酥</a></li>
              </ul>
            </div>
            <div class="products_dropdown">
              <button class="products_dropdown__toggle" type="button">
                <p>戀の鳳梨季</p>
                <p>幸福感麵包甜點限定草莓季</p>
              </button>
              <ul class="products_dropdown__meun">
                <li><a class="products_dropdown__item" href="">蜜蕾酥</a></li>
                <li><a class="products_dropdown__item" href="">蜜蕾酥</a></li>
                <li><a class="products_dropdown__item" href="">蜜蕾酥</a></li>
                <li><a class="products_dropdown__item" href="">蜜蕾酥</a></li>
                <li><a class="products_dropdown__item" href="">蜜蕾酥</a></li>
                <li><a class="products_dropdown__item" href="">蜜蕾酥</a></li>
                <li><a class="products_dropdown__item" href="">蜜蕾酥</a></li>
                <li><a class="products_dropdown__item" href="">蜜蕾酥</a></li>
              </ul>
            </div>
          </div>
          <div class="breadcrumb products_head-breadcrumb"><a class="products_head-breadcrumb_item breadcrumb_item" href="products.html">豐饌商城</a><a class="products_head-breadcrumb_item breadcrumb_item" href="products.html">最熱銷</a><a class="products_head-breadcrumb_item breadcrumb_item" href="#">豐饌經典御禮</a>
          </div>
        </div>
        <div class="product_content">
          <!--top-->
          <div class="product_content__top">
            <!--left-->
            <div class="product_content__top_left">
              <div class="product-card product_content__top-card">
                <div class="product-card_image mb-0 product_content__top-card_image">
                  <div class="product-card_image__bg product_content__top-card_image__bg">
                    <div style="background-image: url(../assets/20200723130437658957.jpg)"></div>
                  </div>
                </div>
              </div>
            </div>
            <!--right-->
            <form class="product_content__top_right" action="">
              <div class="product_content__top_right__title">豐饌經典御禮(11入)</div>
              <div class="product_content__top_right__sub">
                 #雲豆松子蛋黃酥，圓潤的金黃色酥皮，天然紅土醃製鴨蛋黃
                ，甜軟雲豆泥餡內散發著松子香。#白鳳豆梅紫酥
                特選水里Ｑ梅，微酸微甜，一咬開香酥表層，酸甜交織，立即佔領你的味蕾。
              </div>
              <div class="product_content__top_right__radio">
                <div class="form-group row">
                  <div class="col-11 col wrap">
                    <div class="form-check-group">
                      <div class="form-check-component">
                        <input class="form-check" type="radio" id="favor_0" name="spec_id" required="required" value="33" data-deliveryfee="150" data-deliverymax="1500" data-img="https://fengzhuan.com.tw/public/uploads/img/products/500x500/2021/07/20210722155804332.JPG">
                        <label class="form-check-label" for="favor_0">雲豆松子蛋黃酥</label>
                      </div>
                      <div class="form-check-component">
                        <input class="form-check" type="radio" id="favor_1" name="spec_id" required="required" value="21" data-deliveryfee="150" data-deliverymax="1500" data-img="https://fengzhuan.com.tw/public/uploads/img/products/500x500/2021/07/20210722155804332.JPG">
                        <label class="form-check-label" for="favor_1">白鳳豆梅子(奶素)</label>
                      </div>
                      <div class="form-check-component">
                        <input class="form-check" type="radio" id="favor_2" name="spec_id" required="required" value="43" data-deliveryfee="150" data-deliverymax="1500" data-img="https://fengzhuan.com.tw/public/uploads/img/products/500x500/2021/07/20210722155804332.JPG">
                        <label class="form-check-label" for="favor_2">綜合口味(蛋黃6/梅子6)</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product_content__top_right__add">
                <div class="spinButton product_spinButton product_content__top_right__add-spinButton">
                  <button class="less btn" type="button" value="-1"><svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1" y1="1.00146" x2="11" y2="1.00146" stroke="#C9AB81" stroke-width="2" stroke-linecap="round"/>
</svg>
                  </button>
                  <input id="spinButton" type="number" name="spinButton" value="1">
                  <button class="plus btn" type="button" value="1"><svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 7.00147H13M7 13.0015V1.00146" stroke="#C9AB81" stroke-width="2" stroke-linecap="round"/>
</svg>
                  </button>
                </div><a class="product_content__top_right__add-card_link product-card_link" href="product.html">
                  <div class="product-card_link__left product_content__top_right__add-card_link__left" data-originprice="6458">$ 6458</div>
                  <div class="product-card_link__right product_content__top_right__add-card_link__right"> <span>放進購物車</span></div></a>
              </div>
            </form>
          </div>
          <!--swiper-->
          <div class="product_content__swiper">
            <div class="product_content__swiper_navigation">
              <div class="product_content__swiper_prev"><svg width="50" height="15" viewBox="0 0 50 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M49.5 14H2L20.5 1" stroke="#C9AB81" stroke-width="3"/>
</svg>
              </div>
              <div class="product_content__swiper_next">
                <p>swiper</p><svg width="50" height="15" viewBox="0 0 50 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 14H47.5L29 1" stroke="#C9AB81" stroke-width="3"/>
</svg>
              </div>
            </div>
            <div class="swiper-container product_content__swiper_container">
              <div class="swiper-wrapper"> 
                <div class="swiper-slide product_content__swiper_slide">
                  <div style="background-image: url(../assets/20200723130357529295.jpg)"></div>
                </div>
                <div class="swiper-slide product_content__swiper_slide">
                  <div style="background-image: url(../assets/20200723130420859587.jpg)"></div>
                </div>
                <div class="swiper-slide product_content__swiper_slide">
                  <div style="background-image: url(../assets/69316461_2613323955398737_634390532457496576_n.jpg)"></div>
                </div>
                <div class="swiper-slide product_content__swiper_slide">
                  <div style="background-image: url(../assets/69316461_2613323955398737_634390532457496576_n.jpg)"></div>
                </div>
              </div>
            </div>
          </div>
          <!--note-->
          <div class="product_content__note">
            <div class="product_content__note_pagination"></div>
            <ul class="product_content__note_list swiper-container">
              <div class="swiper-wrapper"> 
                <div class="swiper-slide product_content__note_list__slide">
                  <li class="product_content__note_item">⦿ 此商品限門店取貨，並限定周五六日出貨。商品採新鮮製作、當日寄供貨，還請訂購後耐心等候。<br>※貼心提醒：到店取貨不適用當天下訂，當天取貨，如有需求請致電各門市詢問，敬請配合，謝謝。</li>
                  <li class="product_content__note_item">⦿ 請注意：例假日及周日不出貨，訂單將於上班日後依照訂單先後順序處理。</li>
                  <li class="product_content__note_item">⦿ 提醒您：黑貓宅急便週日無收送件之服務，敬請見諒。</li>
                  <li class="product_content__note_item">⦿ 若在天氣狀況不佳及交通道路中斷等配送困難的情況下，送達時間有可能變動。</li>
                  <li class="product_content__note_item">⦿ 如因節慶關係訂單增加，則出貨時間將依據最新消息之公告說明為準。</li>
                </div>
                <div class="swiper-slide product_content__note_list__slide">
                  <li class="product_content__note_item">⦿ 此商品限門店取貨，並限定周五六日出貨。商品採新鮮製作、當日寄供貨，還請訂購後耐心等候。<br>※貼心提醒：到店取貨不適用當天下訂，當天取貨，如有需求請致電各門市詢問，敬請配合，謝謝。</li>
                  <li class="product_content__note_item">⦿ 請注意：例假日及周日不出貨，訂單將於上班日後依照訂單先後順序處理。</li>
                  <li class="product_content__note_item">⦿ 提醒您：黑貓宅急便週日無收送件之服務，敬請見諒。</li>
                  <li class="product_content__note_item">⦿ 若在天氣狀況不佳及交通道路中斷等配送困難的情況下，送達時間有可能變動。</li>
                  <li class="product_content__note_item">⦿ 如因節慶關係訂單增加，則出貨時間將依據最新消息之公告說明為準。</li>
                  <li class="product_content__note_item">⦿ 此商品限門店取貨，並限定周五六日出貨。商品採新鮮製作、當日寄供貨，還請訂購後耐心等候。<br>※貼心提醒：到店取貨不適用當天下訂，當天取貨，如有需求請致電各門市詢問，敬請配合，謝謝。</li>
                  <li class="product_content__note_item">⦿ 請注意：例假日及周日不出貨，訂單將於上班日後依照訂單先後順序處理。</li>
                  <li class="product_content__note_item">⦿ 提醒您：黑貓宅急便週日無收送件之服務，敬請見諒。</li>
                  <li class="product_content__note_item">⦿ 若在天氣狀況不佳及交通道路中斷等配送困難的情況下，送達時間有可能變動。</li>
                  <li class="product_content__note_item">⦿ 如因節慶關係訂單增加，則出貨時間將依據最新消息之公告說明為準。</li>
                </div>
              </div>
            </ul>
          </div>
          <!--other-->
          <div class="product_content__other">
            <div class="block_hr product_content__other-block_hr">
              <div class="block_hr__title product_content__other-block_hr__title">相關商品推薦</div><a class="product_content__other-block_read-more block_read-more" href="product.html">
                <div class="line"></div>
                <div class="block_read-more__txt product_content__other-block_read-more__txt">查看更多</div></a>
            </div>
            <div class="product_content__other_swiper">
              <div class="swiper-container product_content__other_swiper__container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide product_content__other_swiper__slide">
                    <div class="product-card index_product__swiper-card"><a class="product-card_image index_product__swiper-card_image" href="product.html">
                        <div class="product-card_image__bg index_product__swiper-card_image__bg">
                          <div style="background-image: url(20200723130437658957.jpg)"></div>
                        </div></a><a class="product-card_title index_product__swiper-card_title" href="product.html">豐饌經典御禮(11入)</a>
                      <div class="index_product__swiper-card_link product-card_link secondary">查看詳細頁面</div>
                    </div>
                  </div>
                  <div class="swiper-slide product_content__other_swiper__slide">
                    <div class="product-card index_product__swiper-card"><a class="product-card_image index_product__swiper-card_image" href="product.html">
                        <div class="product-card_image__bg index_product__swiper-card_image__bg">
                          <div style="background-image: url(20200723132813537583.jpg)"></div>
                        </div></a><a class="product-card_title index_product__swiper-card_title" href="product.html">法式手工餅乾禮盒</a>
                      <div class="index_product__swiper-card_link product-card_link secondary">查看詳細頁面</div>
                    </div>
                  </div>
                  <div class="swiper-slide product_content__other_swiper__slide">
                    <div class="product-card index_product__swiper-card"><a class="product-card_image index_product__swiper-card_image" href="product.html">
                        <div class="product-card_image__bg index_product__swiper-card_image__bg">
                          <div style="background-image: url(39393999_2018243338240138_3957645258971414528_o.jpg)"></div>
                        </div></a><a class="product-card_title index_product__swiper-card_title" href="product.html">豐饌家傳典藏 干貝XO醬(2入)</a>
                      <div class="index_product__swiper-card_link product-card_link secondary">查看詳細頁面</div>
                    </div>
                  </div>
                  <div class="swiper-slide product_content__other_swiper__slide">
                    <div class="product-card index_product__swiper-card"><a class="product-card_image index_product__swiper-card_image" href="product.html">
                        <div class="product-card_image__bg index_product__swiper-card_image__bg">
                          <div style="background-image: url(39393999_2018243338240138_3957645258971414528_o.jpg)"></div>
                        </div></a><a class="product-card_title index_product__swiper-card_title" href="product.html">豐饌家傳典藏 干貝XO醬(2入)</a>
                      <div class="index_product__swiper-card_link product-card_link secondary">查看詳細頁面</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="goTop_monitor"></div><svg class="goTop" width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="68" height="68" fill="#C9AB81"/>
<path d="M32.268 22C33.0378 20.6667 34.9623 20.6667 35.7321 22L45.2583 38.5C46.0281 39.8333 45.0659 41.5 43.5263 41.5H24.4737C22.9341 41.5 21.9719 39.8333 22.7417 38.5L32.268 22Z" fill="white"/>
</svg>
      <footer class="footer">
        <div class="footer_bg">
          <div class="footer_top"><a class="footer_top-link test" href="FQA.html">購物常見問題</a><a class="footer_top-link" href="FQA.html">隱私權政策</a></div>
          <div class="footer_bottom">
            <div class="footer_bottom-company"> <a class="footer_logo-group" href="index.html">
                <div class="footer_logo"> <img src="../assets/logo-white.png" alt=""></div>
                <div class="footer_logo-text">
                  <div class="footer_logo-title">豐饌</div>
                  <div class="footer_logo-sub">fengzhuan</div>
                </div></a>
              <div class="footer_logo-info">
                <p>©2019 FENGZHUAN All Rights Reserve.</p>
                <p>service@fengzhuan.com.tw</p>
              </div>
            </div>
            <div class="social_logo footer_bottom-social_logo"><a class="social_logo__btn btn" href="#"><svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.1123 4.90157C11.3955 4.7582 10.4273 4.6511 9.81842 4.6511C8.16971 4.6511 8.06261 5.36793 8.06261 6.51486V8.55658H12.184L11.8247 12.7859H8.06261V25.6501H2.90227V12.7859H0.25V8.55658H2.90227V5.94055C2.90227 2.35723 4.58641 0.350098 8.81487 0.350098C10.284 0.350098 11.3592 0.565149 12.7566 0.851882L12.1123 4.90157Z" fill="white"/>
</svg></a><a class="social_logo__btn btn" href="#"><svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="1.5" y="1.5" width="22" height="17" rx="1.5" stroke="white" stroke-width="3"/>
<path d="M13 10.5L2.5 2.5" stroke="white" stroke-width="3" stroke-linecap="round"/>
<path d="M13 10.5L22.5 2.5" stroke="white" stroke-width="3" stroke-linecap="round"/>
</svg></a><a class="social_logo__btn btn" href="#"><svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M26.215 10.6407C26.215 4.77566 20.335 0.00366211 13.108 0.00366211C5.881 0.00366211 0 4.77566 0 10.6407C0 15.8987 4.663 20.3027 10.962 21.1357C11.389 21.2277 11.97 21.4177 12.117 21.7817C12.249 22.1127 12.203 22.6317 12.159 22.9667C12.159 22.9667 12.006 23.8917 11.972 24.0887C11.915 24.4197 11.709 25.3847 13.107 24.7957C14.506 24.2067 20.655 20.3507 23.405 17.1847H23.404C25.305 15.1027 26.215 12.9877 26.215 10.6407ZM7.977 14.1307H5.373C4.994 14.1307 4.686 13.8227 4.686 13.4427V8.23366C4.686 7.85466 4.994 7.54666 5.373 7.54666C5.752 7.54666 6.06 7.85466 6.06 8.23366V12.7547H7.977C8.356 12.7547 8.664 13.0627 8.664 13.4417C8.664 13.8217 8.356 14.1307 7.977 14.1307ZM10.67 13.4427C10.67 13.8217 10.362 14.1307 9.983 14.1307C9.604 14.1307 9.296 13.8227 9.296 13.4427V8.23366C9.296 7.85466 9.604 7.54666 9.983 7.54666C10.362 7.54666 10.67 7.85466 10.67 8.23366V13.4427ZM16.94 13.4427C16.94 13.7397 16.752 14.0017 16.47 14.0947C16.399 14.1187 16.325 14.1307 16.252 14.1307C16.037 14.1307 15.832 14.0277 15.703 13.8557L13.034 10.2207V13.4427C13.034 13.8217 12.726 14.1307 12.346 14.1307C11.967 14.1307 11.658 13.8227 11.658 13.4427V8.23366C11.658 7.93766 11.847 7.67566 12.128 7.58166C12.199 7.55766 12.272 7.54666 12.346 7.54666C12.56 7.54666 12.766 7.64966 12.895 7.82166L15.565 11.4567V8.23366C15.565 7.85466 15.874 7.54666 16.253 7.54666C16.632 7.54666 16.94 7.85466 16.94 8.23366V13.4427ZM21.154 10.1507C21.533 10.1507 21.842 10.4587 21.842 10.8387C21.842 11.2177 21.534 11.5257 21.154 11.5257H19.237V12.7557H21.154C21.533 12.7557 21.842 13.0637 21.842 13.4427C21.842 13.8217 21.533 14.1307 21.154 14.1307H18.55C18.172 14.1307 17.863 13.8227 17.863 13.4427V10.8397C17.863 10.8387 17.863 10.8387 17.863 10.8387V10.8377V8.23666C17.863 8.23566 17.863 8.23566 17.863 8.23466C17.863 7.85566 18.171 7.54766 18.55 7.54766H21.154C21.533 7.54766 21.842 7.85566 21.842 8.23466C21.842 8.61366 21.534 8.92166 21.154 8.92166H19.237V10.1517H21.154V10.1507Z" fill="white"/>
</svg></a></div>
          </div>
        </div>
      </footer>
    </main>
  <script src="../js/vendor.js?111b033531659c7d15cc"></script><script src="../js/main.js?111b033531659c7d15cc"></script><script src="../js/product.js?111b033531659c7d15cc"></script></body>
</html>
